<div class="buttons">
	<a href="javascript:void(0)" class="button red" name="red">Red</a>
	<a href="javascript:void(0)" class="button yellow" name="yellow">Yellow</a>
	<a href="javascript:void(0)" class="button green" name="green">Green</a>
	<a href="/cycle" class="button cycle">Cycle</a>
	<a href="/off" class="button off">Off</a>
</div>

<div class="light-status"></div>

<!-- Yet to implement -->


<!-- <div class="blink-controls">
	<h2>Blink</h2>
	<p>Select a colour</p>
	<form>
		<select>
			<option value="red">Red</option>
			<option value="yellow">Yellow</option>
			<option value="green">Green</option>
		</select>
		<label for="interval">Set an interval (seconds)</label>
		<input type="text" name="interval" required="required" placeholder="(Seconds)"/>
		<input type="submit" value="Start Blinking"></input>
	</form>
</div> -->